$primary: #e4572e;
$secondary: #ff784b;
$danger: #d90429;
$dark: #303030;
$navbar-padding-y: 20px;
$body-color: #fff;
$navbar-light-brand-color: $body-color;
$navbar-light-brand-hover-color: $body-color;

@import "~bootstrap/scss/bootstrap";
